* {
  text-align: center;
  background-color: #003049;
  color: #FEF9E6;
  font-family: 'Antic Slab', serif;
  margin: 0 auto;
}
body {
  width: 100%;
}

a {
  text-decoration: none;
}

.home_link {
  left: 0;
}

.header_logo {
  width: 25%;
  margin-bottom: 30px;
}

.logo_container {
  border-bottom: 1px solid #FEF9E6;
  margin: 0 auto 30px auto;
  width: 90%;
}

.nav_bar {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 45px auto 0 auto;
}

.nav_tiles {
  width: 315px;
  border: 1px solid #FEF9E6;
  border-radius: 16px;
}

.nav_tiles:hover {
  filter: brightness(70%);
  width: 300px ;
}

.footer {
  height:50px;
  width: 65%;  
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-top: 1px solid #FEF9E6;
  margin-top: 75px;
}

@media only screen and (max-width: 580px){
  * {
    width: 100%;
  }

  .header_logo {
    width: 60%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .logo_container {
    border-bottom: 1px solid #FEF9E6;
    margin: 0 auto -15px auto;
    width: 99%;
  }

  .nav_bar {
    display: flex;
    flex-direction: column;
  }
  
  .nav_tiles {
    width: 70%;
    border: 1px solid #FEF9E6;
    margin-bottom: 15px;
    border-radius: 16px;
  }
  
  .nav_tiles:hover {
    filter: brightness(70%);
    width: 300px ;
  }

  .footer {
    height:50px;
    width: 99%;  
    border-top: 1px solid #FEF9E6;
    margin-top: 15px;
    font-size: 10px;
  }
}