* {
  text-align: center;
  margin: 0 auto;
}
body {
  width: 100%;
  background-color: #003049;
  color: #FEF9E6;
  font-family: 'Antic Slab', serif;
}

a {
  text-decoration: none;
  color: #FEF9E6;
}

a:visited {
  color: #FEF9E6;
}

.home_link {
  padding: 5px;
  float: left;
  margin-right: -10%;
  margin-left: 5%;
  margin-top: -10px;
}

.home_icon {
  width: 40px;
}

.header_logo {
  width: 25%;
  margin: 30px auto 30px auto;
}

.logo_container {
  border-bottom: 1px solid #FEF9E6;
  margin: 0 auto 30px auto;
  width: 90%;
}

.nav_bar {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 25px auto 0 auto;
  padding-top: 40px;
}

.nav_tiles {
  width: 275px;
  border: 1px solid #FEF9E6;
  border-radius: 16px;
}

.nav_tiles:hover {
  filter: brightness(70%);
  width: 265px ;
}

.welcome_message_container {
  margin: 60px auto 30px auto;
  width: 45%;
}

.welcome_message_header {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.welcome_message_subheader {
  font-size: 36px;
  color: #E54B4B;
  font-style: italic;
  margin: 15px auto 15px auto;
}

.welcome_message_text {
  font-size: 24px;
  padding: 10px;
  line-height: 175%;
}

.feed_container {
  width: 33%;
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: #f2eedd;
  color: #003049;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_header_container {
  background-color: #E54B4B;
  border: 4px solid #FEF9E6;
  border-radius: 12px 12px 0 0 ;
  margin-bottom: 30px;
}

.feed_header {
  color: #FEF9E6;
  text-transform: uppercase;
  padding: 20px 10px 20px 10px;
}

.feed_card {
  background-color: #FEF9E6;
  padding: 15px;
  border: 2px solid #003049;
  border-radius: 12px;
  margin: 0 15px 50px 15px;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_title {
  font-size: 24px;
  color: #E54B4B;
}

.feed_detail {
  font-style: italic;
  padding: 5px 0 15px 0;
}

.feed_content {
  text-align: left;
}

.page_title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.page_content_container{
  width: 75%;
  background-color: #FEF9E6;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  margin: 30px auto 0 auto;
}

.page_content_header {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 20px auto;
  color: #E54B4B;
}

.page_content_subheader {
  width: fit-content;  
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 20px auto;
  color: #E54B4B;
}

.page_content_text {
  width: 85%;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
  color: #003049;
  text-align: left;
}

.board_member {
  width: 85%;
  color: #E54B4B;
  font-size: 22px;
  text-align: left;
}

.support_banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  font-style: italic;
  margin: -5px auto 40px auto;
  background-color: #003049;
  padding: 1px 10px 1px 10px;
  border-radius: 12px;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.donation_type {
  width: 85%;
  color: #E54B4B;
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pay_icon {
  width: 200px;
  text-align: left;
}

.star {
  color: #FEF9E6;
  padding-top: 20px;
}

.footer {
  height:50px;
  width: 90%;  
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-top: 1px solid #FEF9E6;
  margin-top: 75px;
}

.footer_link {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}


@media only screen and (max-width: 580px){
  * {
    width: 100%;
  }

  .home_link {
    padding: 0px;
    float: left;
    margin: -70% auto 5px -42% ;
    position: fixed;
  }
  
  .home_icon {
    width: 40px;
    background-color: #003049;
    border-radius: 50%;
  }

  .header_logo {
    width: 60%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .logo_container {
    border-bottom: 1px solid #FEF9E6;
    margin: 0 auto -15px auto;
    width: 99%;
  }

  .nav_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .nav_tiles {
    width: 90%;
    border: 1px solid #FEF9E6;
    margin-bottom: 15px;
    border-radius: 16px;
  }
  
  .nav_tiles:hover {
    filter: brightness(70%);
    width: 300px ;
  }

  .welcome_message_container {
    margin: 30px auto -40px auto;
    width: 95%;
  }
  
  .welcome_message_header {
    font-size: 26px;
    letter-spacing: 1px;
  }
  
  .welcome_message_subheader {
    font-size: 26px;
    margin: 8px auto 8px auto;
  }
  
  .welcome_message_text {
    font-size: 18px;
    line-height: 150%;
  }

  .feed_container {
    width: 95%;
    margin-top: 35px;
    padding-bottom: 5px;
  }
  
  .feed_header_container {
    margin-bottom: 15px;
    width: 95%;
  }
  
  .feed_header {
    padding: 10px 5px 10px 5px;
  }
  
  .feed_card {
    padding: 7px;
    margin: 0 auto 25px auto;
    width: 85%;
  }

  .page_title {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  
  .page_content_container{
    width: 95%;
    margin: 20px auto 0 auto;
  }
  
  .page_content_header {
    font-size: 28px;
    margin: 8px auto 12px auto;
  }
  
  .page_content_text {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .board_member {
    font-size: 16px;
  }

  .footer {
    height:50px;
    width: 99%;  
    border-top: 1px solid #FEF9E6;
    margin-top: 15px;
    font-size: 10px;
  }
}