* {
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
}
body {
  width: 100%;
  color: #FEF9E6;
  font-family: 'Lora', serif;
  background-color: #003049;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home {
  background-color: #003049;
}

a {
  text-decoration: none;
  color: #FEF9E6;
}

a:visited {
  color: #FEF9E6;
}


.home_link {
  padding: 5px;
  float: left;
  margin: 5px -10% 0 5%;
}

.home_icon {
  width: 40px;
}

.header_logo {
  width: 20%;
}

.logo_container {
  width: 100%;
  margin: 20px auto 20px auto;
}

.header {
  background-image: url('./elements/header_banner.png');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header section {
  width: 100%;
  /* background-color: #FEF9E6; */
  background-color: rgb(254, 249, 230, .65);
  padding-top: 15px;
  padding-bottom: 15px;
}

.marquee {
  color: #003049;
  font-size: 36px;
  font-family: 'Cinzel', serif;
  padding-top: 5px;
  margin-top: 5px;
  border-top: 4px double #003049;
  }

.marquee2 {
  font-size: 24px;
  color: #E54B4B;
  font-family: 'Quattrocento', serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 4px double #003049;
}

.nav_bar {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 25px auto 30px auto;
  padding-top: 20px;
}

.nav_tiles {
  width: 250px;
  border: 1px solid #FEF9E6;
  border-radius: 16px;
}

.nav_tiles:hover {
  filter: brightness(70%);
  width: 252px;
}

.welcome_message_container {
  margin: 30px auto 40px auto;
  width: 45%;
}

.welcome_message_container p {
  font-size: 22px;
  padding: 10px;
  line-height: 175%;
  font-style: oblique;
}

.welcome_message_container img {
  width: 80%;
  padding: 5px;
  border: 4px double #FEF9E6;
  margin: 25px auto;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_container {
  width: 33%;
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: #FEF9E6;
  color: #003049;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_header_container {
  background-color: #E54B4B;
  border: 4px solid #FEF9E6;
  border-radius: 12px 12px 0 0 ;
  margin-bottom: 30px;
}

.feed_header {
  color: #FEF9E6;
  text-transform: uppercase;
  padding: 20px 10px 20px 10px;
}

.feed_card {
  background-color: #FEF9E6;
  padding: 15px;
  border: 2px solid #003049;
  border-radius: 12px;
  margin: 0 15px 50px 15px;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_title {
  font-size: 24px;
  color: #E54B4B;
}

.feed_detail {
  font-style: italic;
  padding: 5px 0 15px 0;
}

.feed_content {
  text-align: left;
}
.page {
  background-color: #003049;
}
.page_title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 50px;
  margin-top: 55px;
  font-family: 'Quattrocento', serif;
}

.page_content_container{
  width: 75%;
  background-color: #FEF9E6;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  margin: 30px auto 0 auto;
  padding-bottom: 20px;
}

.page_content_header {
  font-family: 'Quattrocento', serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 40px auto;
  color: #E54B4B;
}

.page_content_subheader {
  font-family: 'Quattrocento', serif;
  width: fit-content;  
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 20px auto;
  color: #E54B4B;
}

.page_content_text {
  width: 85%;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
  color: #003049;
  text-align: left;
}

.board_member {
  width: 85%;
  color: #E54B4B;
  font-size: 22px;
  text-align: left;
  font-family: 'Quattrocento', serif;
}

.donation_type {
  width: 85%;
  color: #E54B4B;
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Quattrocento', serif;
}

.donation_container {
  width: 90%;
  margin: 50px auto 50px auto;
}

#connect {
  text-align: center;
  color: #003049;
  font-family: 'Quattrocento', serif;
  margin: 20px auto 10px auto;
}

.contact_bar {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  background-color: #003049;
  padding: 15px 0 0 0;
  border-radius: 12px;
}

.contact_type {
  width: 25%;
}

.contact_type .page_content_text {
  font-size: 14px;
  text-align: center;
  color: #FEF9E6;
  padding-top: 5px;
}

.contact_type .board_member {
  font-size: 22px;
  text-align: center;
}

#paypal_container {
  width: 87%;
  text-align: left;
  margin-bottom: 30px;
}
#paypal {
  width: 200px;
}

.links_container{
  margin: 10px;
}

.link_box{
  margin-bottom: 50px;
}

.link_title {
  width: 85%;
  color: #003049;
  font-size: 24px;
  font-family: 'Quattrocento', serif;
  text-transform: uppercase;
}

.link_subheader {
  font-family: 'Quattrocento', serif;
  font-size: 24px;
  margin-bottom: 60px;
  margin-top: -30px;
  color: #003049;
}

.link_splash {
  width: 50%;
  margin: 20px auto 30px auto;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
}

.link_splash:hover {
  filter: brightness(70%);
}

.footer {
  height:50px;
  width: 100%;  
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-top: 4px double rgba(254,249,230,.25);
  margin-top: 75px;
  padding-bottom: 10px;
  font-size: 12px;
}

.footer_link {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login_button {
  width: 150px;
  height: 45px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}


