* {
  text-align: center;
  margin: 0 auto;
}
body {
  width: 100%;
  background-color: #003049;
  color: #FEF9E6;
  font-family: 'Antic Slab', serif;
}

a {
  text-decoration: none;
  color: #FEF9E6;
}

a:visited {
  color: #FEF9E6;
}

.marquee {
	text-transform: uppercase;
  font-family: 'Antic Slab', serif;
  font-size: 22px;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 15px 0 30px 0;
  margin-bottom: 10px;
	width: 95%;
  color: #E54B4B;
}

.marquee span {
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
  letter-spacing: 3px;
  padding: 0px 0 10px 0;
	display: block;
	margin: 0 auto;
  text-shadow: 0 0 1px rgba(255,255,255,.2);
	background: url('./elements/marquee.png') repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aitf 80s linear infinite;
	transform: translate3d(0,0,0);
	backface-visibility: hidden;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  }

@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.home_link {
  padding: 5px;
  float: left;
  margin: 5px -10% 0 5%;
}

.home_icon {
  width: 40px;
}

.header_logo {
  width: 25%;
  margin: 30px auto 30px auto;
}

.logo_container {
  margin: 0 auto 0px auto;
  width: 90%;
}

.nav_bar {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px auto 0 auto;
  padding-top: 40px;
}

.nav_tiles {
  width: 275px;
  border: 1px solid #FEF9E6;
  border-radius: 16px;
}

.nav_tiles:hover {
  filter: brightness(70%);
  width: 265px ;
}

.welcome_message_container {
  margin: 30px auto 40px auto;
  width: 45%;
}

.welcome_message_text {
  font-size: 22px;
  padding: 10px;
  line-height: 175%;
  font-style: oblique;
}

.feed_container {
  width: 33%;
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: #f2eedd;
  color: #003049;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_header_container {
  background-color: #E54B4B;
  border: 4px solid #FEF9E6;
  border-radius: 12px 12px 0 0 ;
  margin-bottom: 30px;
}

.feed_header {
  color: #FEF9E6;
  text-transform: uppercase;
  padding: 20px 10px 20px 10px;
}

.feed_card {
  background-color: #FEF9E6;
  padding: 15px;
  border: 2px solid #003049;
  border-radius: 12px;
  margin: 0 15px 50px 15px;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_title {
  font-size: 24px;
  color: #E54B4B;
}

.feed_detail {
  font-style: italic;
  padding: 5px 0 15px 0;
}

.feed_content {
  text-align: left;
}

.page_title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.page_content_container{
  width: 75%;
  background-color: #FEF9E6;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  margin: 30px auto 0 auto;
  padding-bottom: 20px;
}

.page_content_header {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 40px auto;
  color: #E54B4B;
}

.page_content_subheader {
  width: fit-content;  
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 20px auto;
  color: #E54B4B;
}

.page_content_text {
  width: 85%;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
  color: #003049;
  text-align: left;
}

.board_member {
  width: 85%;
  color: #E54B4B;
  font-size: 22px;
  text-align: left;
}

.donation_type {
  width: 85%;
  color: #E54B4B;
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.donation_container {
  width: 90%;
  margin: 50px auto 50px auto;
}

#paypal_container {
  width: 87%;
  text-align: left;
  margin-bottom: 30px;
}
#paypal {
  width: 200px;
}

.footer {
  height:50px;
  width: 95%;  
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-top: 4px double rgba(255,255,255,.25);
  margin-top: 75px;
  padding-bottom: 10px;
}

.footer_link {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}


@media only screen and (max-width: 580px){
  * {
    max-width: 100%;
    overflow-x: hidden;
  }

  .marquee {
    font-size: 12px;
    width: 95%;
  }
  
  .marquee span {
    font-size: 30px;
    letter-spacing: 0px;
    padding: 0px 0 5px 0;
    display: block;
    margin: 0 auto;
    text-shadow: none;
    background: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #FEF9E6;
    animation: aitf 80s linear infinite;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #003049;
    }

  .home_link {
    padding: 0px;
    float: left;
    margin: -84% auto 5px 2.75% ;
    position: fixed;

  }
  
  .home_icon {
    width: 40px;
    background-color: #003049;
    border-radius: 50%;
  }

  .header {
    max-height: 100%;
    overflow-y: hidden;
  }

  .header_logo {
    width: 60%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .logo_container {
    margin: 0 auto -15px auto;
    width: 99%;
  }

  .nav_bar {
    display: grid;
    flex-direction: column;
  }
  
  .nav_tiles {
    width: 80%;
    border: 1px solid #FEF9E6;
    margin-bottom: 30px;
  }
  
  .nav_tiles:hover {
    filter: brightness(70%);
    width: 300px ;
  }

  .welcome_message_container {
    margin: 30px auto -40px auto;
    width: 95%;
  }
  
  .welcome_message_text {
    font-size: 15px;
    line-height: 150%;
  }

  .feed_container {
    width: 95%;
    margin-top: 35px;
    padding-bottom: 5px;
  }
  
  .feed_header_container {
    margin-bottom: 15px;
    width: 95%;
  }
  
  .feed_header {
    padding: 10px 5px 10px 5px;
  }
  
  .feed_card {
    padding: 7px;
    margin: 0 auto 25px auto;
    width: 85%;
  }

  .page_title {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  
  .page_content_container{
    width: 95%;
    margin: 20px auto 0 auto;
  }
  
  .page_content_header {
    font-size: 28px;
    margin: 8px auto 12px auto;
  }
  
  .page_content_text {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .board_member {
    font-size: 16px;
  }

  .donation_container {
    width: 85%;
    margin: 15px auto 15px auto;
  }
  
  .donation_type {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  #paypal_container {
    width: 95%;
    text-align: center;
    margin-bottom: 15px;
  }
  #paypal {
    width: 75%;
  }

  .footer {
    height:50px;
    width: 99%;  
    border-top: 1px solid #FEF9E6;
    margin-top: 15px;
    font-size: 10px;
  }
}