* {
  text-align: center;
  margin: 0 auto;
}
body {
  width: 100%;
  background-color: #003049;
  color: #FEF9E6;
  font-family: 'Antic Slab', serif;
}

a {
  text-decoration: none;
  color: #FEF9E6;
}

a:visited {
  color: #FEF9E6;
}

.home_link {
  padding: 5px;
  float: left;
  margin-right: -10%;
  margin-left: 5%;
}

.header_logo {
  width: 25%;
  margin: 30px auto 30px auto;
}

.logo_container {
  border-bottom: 1px solid #FEF9E6;
  margin: 0 auto 30px auto;
  width: 90%;
}

.nav_bar {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 45px auto 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #FEF9E6;
}

.nav_tiles {
  width: 275px;
  border: 1px solid #FEF9E6;
  border-radius: 16px;
}

.nav_tiles:hover {
  filter: brightness(70%);
  width: 265px ;
}

.feed_container {
  width: 33%;
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: #f2eedd;
  color: #003049;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_header_container {
  background-color: #E54B4B;
  border: 4px solid #FEF9E6;
  border-radius: 12px 12px 0 0 ;
  margin-bottom: 30px;
}

.feed_header {
  color: #FEF9E6;
  text-transform: uppercase;
  padding: 20px 10px 20px 10px;
}

.feed_card {
  background-color: #FEF9E6;
  padding: 15px;
  border: 2px solid #003049;
  border-radius: 12px;
  margin: 0 15px 50px 15px;
  box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
  -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.62);
}

.feed_title {
  font-size: 24px;
  color: #E54B4B;
}

.feed_detail {
  font-style: italic;
  padding: 5px 0 15px 0;
}

.feed_content {
  text-align: left;
}

.footer {
  height:50px;
  width: 90%;  
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-top: 1px solid #FEF9E6;
  margin-top: 75px;
}

.footer_link {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}


@media only screen and (max-width: 580px){
  * {
    width: 100%;
  }

  .header_logo {
    width: 60%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .logo_container {
    border-bottom: 1px solid #FEF9E6;
    margin: 0 auto -15px auto;
    width: 99%;
  }

  .nav_bar {
    display: flex;
    flex-direction: column;
  }
  
  .nav_tiles {
    width: 70%;
    border: 1px solid #FEF9E6;
    margin-bottom: 15px;
    border-radius: 16px;
  }
  
  .nav_tiles:hover {
    filter: brightness(70%);
    width: 300px ;
  }

  .footer {
    height:50px;
    width: 99%;  
    border-top: 1px solid #FEF9E6;
    margin-top: 15px;
    font-size: 10px;
  }
}